{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://bootswatch.com/5/morph/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>MindVault</title>
  </head>
  <body>
    <br />
    <div class="container bg-white shadow-md p-5 form-layout">
      <h3>Password Reset Complete</h3>
      <p>Your password has been set. You may go ahead and login to your account</p>
      <a href="{% url 'my-login' %}">Go To Login Page</a>
    </div>
  </body>
</html>
